* {
	margin: 0;
	padding: 0;
	border: none;
	outline: none;
	list-style: none;
}

body {
	background-color: #f2f2f2;
	font-family: Arial, sans-serif;
}

#container {
	width: 718px;
	overflow: hidden;
	margin: 40px auto;
}

h1 {
	color: #444;
	text-align: center;
	margin-bottom: 20px;
}



ul.thumbs li {
	float: left;
	margin-bottom: 10px;
	margin-right: 9px;
}

ul.thumbs a {
	display: block;
	position: relative;
	width: 85px;
	height: 55px;
	border: 4px solid transparent;
	font: bold 12px/25px Arial, sans-serif;
	color: #515151;
	text-decoration: none;
	text-shadow: 1px 1px 0 rgba(255, 255, 255, .25), 1px 1px 0 rgba(0, 0, 0, .15);
}

ul.thumbs img {
	border: 1px solid #333;
}

ul.thumbs li a:link span {
	display: none;
}

ul.thumbs li a:hover span {
	position: absolute;
	z-index: 101;
	bottom: -30px;
	left: 10px;
	display: block;
	width: 100px;
	height: 25px;
	text-align: center;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, .4);
	-moz-box-shadow: 0 1px 0 rgba(0, 0, 0, .4);
	box-shadow: 0 1px 0 rgba(0, 0, 0, .4);
	background: #d0d0d0;
}

ul.thumbs li a:hover span:before {
	width: 0;
	height: 0;
	border-bottom: 5px solid #d0d0d0;
	border-right: 5px solid transparent;
	border-left: 5px solid transparent;
	content: '';
	position: absolute;
	top: -5px;
	left: 44px;
}

ul.thumbs li:last-child a:hover span {
	left: -15px;
}

ul.slides {
	overflow: hidden;
	clear: both;
	border: 1px solid #333;
}

ul.slides,
ul.slides li,
ul.slides a,
ul.slides img {
	width: 705px;
	height: 350px;
	position: relative;
}

ul.slides li {
	position: absolute;
	z-index: 50;
}

/* Animation for slider */
@-webkit-keyframes slide { 0% {left: -500px;} 100% {left: 0;} }
@-moz-keyframes slide { 0% {left: -500px;} 100% {left: 0;} }
@-o-keyframes slide { 0% {left: -500px;} 100% {left: 0;} }
@keyframes slide { 0% {left: -500px;} 100% {left: 0;} }

ul.slides li:target {
	z-index: 100;
	-webkit-animation: slide 1s linear 0s 1;
	-moz-animation: slide 1s linear 0s 1;
	-o-animation: slide 1s linear 0s 1;
	animation: slide 1s linear 0s 1;
}

/* Not Target */
@-webkit-keyframes noTarget { 0% {z-index: 75;} 100% {z-index: 75;} }
@-moz-keyframes noTarget { 0% {z-index: 75;} 100% {z-index: 75;} }
@-o-keyframes noTarget { 0% {z-index: 75;} 100% {z-index: 75;} }
@keyframes noTarget { 0% {z-index: 75;} 100% {z-index: 75;} }

ul.slides li:not(:target) {
	-webkit-animation: noTarget 1s linear 0s 1;
	-moz-animation: noTarget 1s linear 0s 1;
	-o-animation: noTarget 1s linear 0s 1;
	animation: noTarget 1s linear 0s 1;
}